doctype 
html(lang="ko")
    head
        meta(charset="utf-8")
        title matrox 
        link(rel="stylesheet", href="./matrix.css")
    body 
        div.container 
        script(src="./matrix.js") 

