doctype
html(lang="ko")
    head
        meta(charset="utf-8")
        title karma 
        link(rel="stylesheet", href="./karma.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    body 
        .container#container
            .include#include
                #box1.box 0.0
                #box2.box 0.1
                #box3.box 1.0
                #box4.box 1.1
            .includeresult#includeresult 
                span.result#result
        script(src="./karma.js")