* {
  padding: 0;
  margin: 0;
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  color: rgb(199, 195, 185);
}

body {
  background-color: #4a4545;
}
body .container {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #4a4545;
  margin: 70px auto 0 auto;
  width: 1700px;
  height: 850px;
  box-sizing: border-box;
  padding: 50px;
}
body .container .canvasArea {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
body .container .canvasArea .csvsect {
  width: 48%;
}
body .container .canvasArea .csvsect .canvas {
  border-radius: 30px;
  background: #4a4545;
  box-shadow: inset -7px -7px 37px #363232, inset 7px 7px 37px #363232;
}
body .container .canvasArea .graphsect {
  width: 40%;
}
body .container .canvasArea .graphsect .graph::-webkit-scrollbar {
  width: 10px;
}
body .container .canvasArea .graphsect .graph {
  box-sizing: border-box;
  border-radius: 30px;
  height: 500px;
  border-radius: 30px;
  background: #4a4545;
  box-shadow: inset -7px -7px 37px #363232, inset 7px 7px 37px #363232;
  padding: 50px;
  overflow-y: scroll;
}
body .container .canvasArea .graphsect .graph .graph::-webkit-scrollbar {
  width: 10px;
}
body .container .canvasArea .graphsect .graph .equationbox {
  text-align: left;
  height: 120px;
  background: linear-gradient(145deg, #4f4a4a, #4f4a4a);
  box-shadow: 7px 7px 24px #3b3838, -7px -7px 24px #645d5d;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
body .container .canvasArea .graphsect .graph .equationbox h2 {
  font-size: 16px;
  color: #e07903;
}
body .container .canvasArea .graphsect .graph .equationbox .equation {
  margin-top: 5px;
  margin-left: 20px;
  color: #fff;
}
body .container .canvasArea .graphsect .graph .equationbox input {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 10px;
}
body .container .canvasArea .graphsect .graph .equationbox .equationInbox {
  margin-top: 10px;
  margin-left: 20px;
}
body .container .canvasArea .graphsect .graph .equationbox #draw {
  width: 50px;
  height: 50px;
  margin-top: -90px;
  background: #696464;
  box-shadow: 7px 7px 24px #383434, -7px -7px 24px #645d5d;
  border-radius: 15px;
  float: right;
}
body .container .canvasArea .graphsect .graph .equationbox #draw i {
  color: #51df0f;
}
body .container .canvasArea .graphsect .graph .equationbox #drawDelet {
  width: 50px;
  height: 50px;
  margin-top: -34px;
  background: #696464;
  box-shadow: 7px 7px 24px #383434, -7px -7px 24px #645d5d;
  border-radius: 15px;
  float: right;
}
body .container .canvasArea .graphsect .graph .equationbox #drawDelet i {
  color: #f80f0f;
}
body .container .canvasArea .graphsect .graphBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
body .container .canvasArea .graphsect .graphBtn button {
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #484747;
  margin: 10px 0;
  border-radius: 30px;
  background: linear-gradient(145deg, #4f4a4a, #433e3e);
  box-shadow: 7px 7px 24px #302d2d, -7px -7px 24px #645d5d;
}
body .container .canvasArea .graphsect .graphBtn button:active {
  transition: 0.1s;
  background: l #4d4949;
  box-shadow: -25px -25px 51px #494444, 25px 25px 51px #4b4646;
}
body .container .canvasArea .cvsBtn {
  width: 500px;
  height: 200px;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  font-style: normal;
  font-size: 15px;
}
body .container .canvasArea .cvsBtn .scaleController {
  width: 60%;
}
body .container .canvasArea .cvsBtn .scaleController .scaleBtn {
  font-size: 25px;
  box-sizing: border-box;
  width: 80px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1px solid #484747;
  border-radius: 30px;
  background: linear-gradient(145deg, #4f4a4a, #433e3e);
  box-shadow: 7px 7px 24px #302d2d, -7px -7px 24px #645d5d;
}
body .container .canvasArea .cvsBtn .scaleController input {
  box-sizing: border-box;
  width: 80px;
  margin-right: 20px;
  text-align: center;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #484747;
}
body .container .canvasArea .cvsBtn .scaleController button:active {
  transition: 0.1s;
  background: l #4d4949;
  box-shadow: -25px -25px 51px #494444, 25px 25px 51px #4b4646;
}
body .container .canvasArea .cvsBtn .controller {
  width: 40%;
  margin-top: 25px;
}
body .container .canvasArea .cvsBtn .controller .fLine .ctrBtn {
  width: 60px;
  height: 40px;
  margin: 0 59px;
  border-radius: 30px;
  background: #4a4545;
  box-shadow: inset -7px -7px 37px #363232, inset 7px 7px 37px #363232;
  border-radius: 7px;
}
body .container .canvasArea .cvsBtn .controller .sLine .ctrBtn {
  width: 60px;
  height: 40px;
  margin: auto;
  border-radius: 30px;
  background: #4a4545;
  box-shadow: inset -7px -7px 37px #363232, inset 7px 7px 37px #363232;
  border-radius: 7px;
}
body .container .calculatorArea {
  width: 30%;
}
body .container .calculatorArea .calculator {
  float: right;
  width: 500px;
  height: 800px;
  border-radius: 30px;
  background: linear-gradient(145deg, #4f4a4a, #433e3e);
  box-shadow: 7px 7px 24px #302d2d, -7px -7px 24px #645d5d;
}
body .container .calculatorArea .calculator .numView {
  width: 90%;
  height: 100px;
  background-color: #3f3c3c;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: inset 10px 10px 10px #363232;
  box-sizing: border-box;
  padding: 30px;
}
body .container .calculatorArea .calculator .numView p {
  text-align: right;
  line-height: 50px;
  font-size: 50px;
}
body .container .calculatorArea .calculator #numBtn6 button {
  font-size: 15px;
}
body .container .calculatorArea .calculator #numBtn6 .pi {
  font-size: 35px;
}
body .container .calculatorArea .calculator .numBtn {
  width: 80%;
  display: flex;
  margin: 35px auto;
  justify-content: space-between;
  font-size: 40px;
}
body .container .calculatorArea .calculator .numBtn button {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background: linear-gradient(145deg, #4f4a4a, #433e3e);
  box-shadow: 7px 7px 24px #302d2d, -7px -7px 24px #645d5d;
  border-radius: 50%;
  border: none;
  font-size: 25px;
}
body .container .calculatorArea .calculator .numBtn button:active {
  transition: 0.1s;
  background: l #4d4949;
  box-shadow: -25px -25px 51px #494444, 25px 25px 51px #4b4646;
}/*# sourceMappingURL=App.css.map */