* {
    cursor: none;
    padding: 0;
    margin: 0;
    font-family: "Nanum Gothic",
        serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: rgb(199, 195, 185);


}

:root {
    --black: #000000;
    --grey1: #a3a3a3;
    --grey2: #383838;
    --white: #ffffff;
    --green: #62Ba9B;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

@mixin fillter {
    color: var(--green);
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px #000000);
}

@mixin newMopin {
    border-radius: 30px;
    background: #4a4545;
    box-shadow: inset -7px -7px 37px #363232,
        inset 7px 7px 37px #363232;
}

@mixin newMopout {
    border-radius: 30px;
    background: linear-gradient(145deg, #4f4a4a, #433e3e);
    box-shadow: 7px 7px 24px #302d2d,
        -7px -7px 24px #645d5d;
}

@mixin newMoclick {
    transition: 0.1s;
    background: l#4d4949;
    box-shadow: -25px -25px 51px #494444,
        25px 25px 51px #4b4646;
}

body {
    background: #4d4949;


    .container {
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        background-color: #4a4545;
        margin: 30px auto 0 auto;
        width: 1700px;
        height: 900px;
        box-sizing: border-box;
        padding: 50px;

        .canvasArea {
            width: 60%;
            display: flex;
            justify-content: space-between;

            .csvsect {
                width: 48%;

                .canvas {
                    @include newMopin
                }
            }



            .graphsect {
                width: 40%;

                .graph::-webkit-scrollbar {
                    width: 10px;
                }

                .graph {
                    box-sizing: border-box;
                    border-radius: 30px;
                    height: 600px;
                    @include newMopin;
                    padding: 30px;
                    overflow-y: scroll;

                    .equationbox1,
                    .equationbox2,
                    .equationbox3,
                    .equationbox4,
                    .equationbox5,
                    .equationbox6,
                    .equationbox7 {
                        text-align: left;
                        height: 140px;
                        background: linear-gradient(145deg, #4f4a4a, #4f4a4a);
                        box-shadow: 7px 7px 24px #3b3838, -7px -7px 24px #645d5d;
                        border-radius: 15px;
                        padding: 10px;
                        box-sizing: border-box;

                        margin-top: 20px;
                        display: none;

                        i {
                            color: var(--green);
                            filter: drop-shadow(0 0 5px #136146) drop-shadow(0 0 20px #000000);
                        }

                        /* 선택된 방정식만 보이게 함 */
                        &.visible {
                            display: block;
                        }

                        h2 {
                            font-size: 20px;
                            color: var(--green);
                        }

                        .equation {
                            font-size: 20px;
                            margin-top: 5px;
                            margin-left: 2px;
                            color: #fff;

                        }

                        input {
                            text-align: center;
                            font-size: 18px;
                            width: 40px;
                            height: 40px;
                            margin: 0 5px;
                            border-radius: 10px;
                            color: #000000;

                            i {
                                @include fillter()
                            }
                        }

                        .equationInbox {
                            margin-top: 10px;
                        }

                        .draw {
                            width: 50px;
                            height: 50px;
                            margin-top: -50px;
                            background: #696464;
                            box-shadow: 7px 7px 24px #383434, -7px -7px 24px #645d5d;
                            border-radius: 15px;
                            float: right;


                        }


                    }

                    .equationbox3,
                    .equationbox4 {
                        height: 230px;

                        .eqboxin {
                            margin: 5px 5px;
                        }

                        .draw {
                            width: 50px;
                            height: 50px;
                            margin-top: -55px;
                            background: #696464;
                            box-shadow: 7px 7px 24px #383434, -7px -7px 24px #645d5d;
                            border-radius: 15px;
                            float: right;


                        }

                    }
                }


                .graphBtn {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    flex-wrap: wrap;

                    button {
                        box-sizing: border-box;
                        width: 120px;
                        height: 40px;
                        margin: 10px 0;
                        @include newMopin;
                        border-radius: 7px;


                    }

                    button:active {
                        @include newMoclick
                    }
                }

            }



            .cvsBtn {
                width: 500px;
                height: 200px;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                padding-top: 30px;
                justify-content: space-between;
                font-style: normal;
                font-size: 15px;


                .scaleController {
                    margin-top: 80px;
                    width: 50%;
                    display: flex;

                    .scaleBtn {
                        font-size: 25px;
                        box-sizing: border-box;
                        width: 50px;
                        height: 50px;
                        margin-right: 20px;
                        margin-bottom: 50px;
                        border-radius: 30px;
                        margin-top: -20px;
                        border: 1px solid #484747;
                        @include newMopout;

                        i {
                            color: var(--green);
                            filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));

                        }
                    }



                    input {
                        box-sizing: border-box;
                        width: 80px;
                        margin-right: 20px;
                        text-align: center;
                        height: 50px;
                        border-radius: 30px;
                        border: 1px solid #484747
                    }



                    button:active {
                        @include newMoclick
                    }
                }

                .controller {
                    width: 40%;
                    margin-top: 20px;

                    .fLine {
                        .ctrBtn {
                            width: 60px;
                            height: 40px;
                            margin: 0 59px;
                            @include newMopin;
                            border-radius: 7px;

                            i {
                                @include fillter
                            }
                        }
                    }

                    .sLine {
                        .ctrBtn {
                            width: 60px;
                            height: 40px;
                            margin: auto;
                            @include newMopin;
                            border-radius: 7px;

                            i {
                                @include fillter
                            }
                        }
                    }

                }
            }
        }

        .calculatorArea {
            width: 30%;

            .calculator {
                float: right;
                width: 500px;
                height: 800px;
                @include newMopout;

                .numView {
                    width: 90%;
                    height: 100px;
                    background-color: #3f3c3c;
                    margin: 30px auto;
                    border-radius: 20px 20px 0px 0px;
                    box-shadow: inset 10px 10px 10px #363232;
                    box-sizing: border-box;
                    padding: 30px;
                    overflow-x: scroll;
                    overflow-y: hidden;

                    p {
                        text-align: right;
                        line-height: 50px;
                        font-size: 55px;
                        color: var(--green);
                        filter: drop-shadow(0 0 3px var(--green)) drop-shadow(0 0 30px var(--green));


                    }

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;

                    }

                    &::-webkit-scrollbar-track {
                        @include newMopin()
                    }
                }



                #numBtn6 {
                    button {
                        font-size: 15px;
                    }

                    .pi {
                        font-size: 35px;
                    }
                }

                .numBtn {
                    width: 80%;
                    display: flex;
                    margin: 35px auto;
                    justify-content: space-between;
                    font-size: 40px;

                    button {
                        width: 70px;
                        height: 70px;
                        @include newMopout;
                        border-radius: 50%;
                        border: none;
                        font-size: 25px;

                    }

                    button:active {
                        @include newMoclick
                    }
                }
            }
        }


    }



}


.small {
    height: 10px;
    width: 10px;
    background-color: var(--green);
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: height 0.2s, width 0.2s;
}