* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 150px auto;
    width: 1400px;
    height: 600px;
    border-radius: 30px;
    background-color: #c4e9ff;
    box-shadow: 1px 2px 2px 3px skyblue;

    .numberBox {
        display: flex;
        padding: 20px;
        margin-top: 20px;
        box-sizing: border-box;
        justify-content: space-between;

        .num {
            text-align: center;
            width: 8%;
            background-color: #fff;
            height: 150px;
            line-height: 150px;
            border-radius: 30px;
            box-shadow: 1px 2px 1px 2px skyblue;
        }
    }

    .sumBox {
        align-items: center;
        text-align: center;
        margin: auto;
        width: 1000px;
        text-align: center;
        display: flex;
        margin: 10px auto;
        justify-content: space-between;


        p {
            font-size: 150px;
        }

        .sumBtn {
            font-size: 150px;
            background: none;
            border: none;
        }

        .dragNum {
            width: 200px;
            height: 200px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 1px 2px 1px 2px skyblue;
        }


    }
}